@charset "utf-8";

*{
    font-family: 'Segoe UI';
    box-sizing: border-box;
}

body, main, header, p, h1, h2, h3, h4, h5, h6, footer, li{
	display: block;
	margin: 0px;
	padding: 0px;
    color: #1E1E1E;
}

h1, h2{
	width: 100%;
	text-align: center;
    color: #1E1E1E;
	text-decoration: solid;
}

body{
    background-color: #DFB1CB;
    width: 100%;
    display: flex;
    flex-flow: column;
	color:#e1e1e1;
    color: #1E1E1E;
}
 
/* navbar*/
#homeLogo{
	width: 5%;
	object-fit: contain;
	background: #030d22;
}

#homeLogo img{
	background: #030d22;
	height: 19px;
	margin: auto;
}

header *{
	margin: 0px;
	padding: 0px;
	flex: 100%;
	top: 1;
}

header a{
	float: left;
	background: #8D2055;
	width: 19%;
	text-align: center;
	text-decoration: none;
	padding: 10px 0px;
	color: #e1e1e1;
    font-weight: 600;
}

header ul a:hover {
	background: #0F4761;
}
/* footer */
footer .bottom{
	background: #0F4761;
	position: fixed;
	width: 100%;
	display: flex;
	margin: 0px;
	padding: 10px 25px;	
	color: #030d22;
	text-align: center;
	position: relative;
	bottom: 0;
	width: 100%;
}